.hp-banner.multicolumn.color-scheme-0856d3d8-1783-438f-9a75-3439fe616972{
    background-image: url(https://cdn.shopify.com/s/files/1/0777/8625/1580/files/Home-header.png?v=1711547624);
    background-size: cover;
    height: 600px;
}

.hp-banner.multicolumn.color-scheme-0deff096-1ea7-48ad-9f79-091d2d4c7b36{
    background-image: url(https://cdn.shopify.com/s/files/1/0777/8625/1580/files/Orange_BG.png?v=1711548941);
    background-size: cover;
    background-repeat: no-repeat;
}